@font-face {
    font-family: segoeui;
    src: url(../fonts/segoeui.ttf);
}

@font-face {
    font-family: segoeuil;
    src: url(../fonts/segoeuil.ttf);
}

@font-face {
    font-family: segoeuisl;
    src: url(../fonts/segoeuisl.ttf);
}

@font-face {
    font-family: segoeuib;
    src: url(../fonts/segoeuib.ttf);
}

@font-face {
    font-family: segoeuisb;
    src: url(../fonts/seguisb.ttf);
}

/* Dropdown Button */
.cb_dropbtn {
    position: fixed;
    opacity: 0;
    background-color: rgb(17, 17, 17);
    color: white;
    width: 5px;
    height: 30px;
    top: 0px;
    right: 0;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.charmsbar {
    position: fixed;
    top: 0px;
    right: 0px;
    display: inline-block;
    z-index: 99998;
}

/* Dropdown Content (Hidden by Default) */
.cb_dropdown-content {
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: rgb(17, 17, 17);
    width: 106px;
    height: 100vh;
    z-index: 99999;
    transform: translateX(106px);
    position: fixed ;
}

.cb_dropdown-content div {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    width: 106px;
}

/* Links inside the dropdown */
.cb_dropdown-content div a {
    height: 100px;
    color: white;
    text-decoration: none;
    display: block;
    transform: translateX(106px);
}

/* Change color of dropdown links on hover */
.cb_dropdown-content div a:hover {background-color: rgb(43, 43, 43);}

/* Show the dropdown menu on hover */
.charmsbar:hover .cb_dropdown-content {
    display: block;
    
    animation-duration: 0.2s;
    animation-name: charmsbar_open;
    animation-timing-function: ease;
    position: fixed;
    animation-fill-mode: forwards;
}

.charmsbar:hover .cb_dropdown-content div a {
    animation: charmsbar_open 0.2s 0.1s ease forwards;
}

.hover_blue:hover i{
    color:#5252fe;
}

.metroAppHeader {
    width: 100%;
    top: -29px;
    height: 29px;
    background-color: rgb(17, 17, 17);
    animation-duration: 0.3s;
    animation-name: METRO_headerAni;
    animation-timing-function: ease-out;
    position: fixed;
    animation-fill-mode: forwards;
    z-index: 99990;
}

@keyframes charmsbar_open {
    0% {transform: translateX(106px);}
    100% {transform: translateX(0px);}
}

.metroAppHeader h6 {
    font-size: 12;
    font-family: 'segoeui';
    color: white;
    padding-top: 4px;
    text-align: center;
}

.METRO_close {
    position: absolute;
    right: 2px;
    top: 2px;
}

.metroIcon {
    position: absolute;
    left: 3px;
    top: 2px;
}

@keyframes METRO_headerAni {
    0%   { transform: translateY(0px); }
    100% { transform: translateY(29px); }
}



.nocursor {
    cursor: none;
}

.hidden {
    display: none;
}

a {
    cursor:default;
}

.charmsbar_settengs {
    background-color: rgb(24, 0, 82);
    width: 346px;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    display: none;
    z-index: 10;
}

.cb_panels_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100vh;
    border: 5px solid black;
}
.cb_panel {
    flex: 0 0 346px;
    background-color: #FF9999;
}
.cb_bg{
    flex: 1 1 25%;
    background-color: #9999FF;
}

 .metrosplash {
     width: 100vw;
     height: 100vh;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 99989;
 }

 .metrosplash img {
    position: absolute;
    top:50%;
    left: 50%;
 }

 .metrosplashhideani {
    animation-name: metrosplashhideaniani;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
 }

 @keyframes metrosplashhideaniani {
    0%{opacity: 1;}
     100%{opacity: 0;}
 }

 .metrobutton {
    color: #000000;
    font-size: 16px;
    font-family: 'segoeuisl';
    background: #cccccc;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .metrobutton:hover {
    background: #707070;
    text-decoration: none;
  }

  .metrobutton2 {
    color: white;
    font-size: 16px;
    font-family: 'segoeui';
    background: rgb(31, 0, 104);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
    border: 2px solid white;
    
  }
  
  .metrobutton2:hover {
    background: rgb(60, 33, 124);
    text-decoration: none;
  }

  .metrobutton2:focus {
      outline: none;
  }

  .metrobutton2:active {
      outline: none;
      background-color: white;
      color: black;
  }

  body{
    user-select: none;
  }

  button{
      cursor: default;
  }

  .openappani {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    position: absolute;
    left:10vh;
    animation: animationopenapp 0.7s ease forwards;
    z-index: 99;
  transform-origin: 0 50%;
  transform:
  scale(0.2,0.2)
  perspective(200px)
  rotateY(15deg);
}

.openappani img {
    transform: scale(0.2,0.2);
    animation: animationopenapplogo 0.5s ease forwards;
}


@keyframes animationopenapp {
    100% {transform: scale(1,1)  rotateY(0); top: 0; left: 0;}
}

@keyframes animationopenapplogo {
    100% {transform: scale(1,1);}
}

