.storeWelcome {
    background: url('csbg.png');
    width: 100vw;
    height: 100vh;
}

.storewelcomeani {
    animation: storewelcomeani 5s ease forwards;
}

@keyframes storewelcomeani {
    0%   {background: url('csbg.png') 100vw 100vh}
    100% {background: url('csbgsmall.png') 10vw 10vh}
}

.storeheader {
    position: fixed;
    background-color: rgb(0, 138, 0);
    height: 73px;
    width: 100vw;

}

.storeHomepageBtn {
    position: absolute;
    left: 0px;
    top: 29px;
}

.storeContent {
    margin-left: 80px;
    padding-top: 20px;
}

.appInMainPage {
    width: 160px;
    height: 232px;
    padding: 5px;
    margin-bottom:30px;
    margin-right: 20px;
}

.appInMainPage:hover {
    outline: 4px solid rgb(179,179,179);
}

.appsSection {
    position: absolute;
    left: 610px;
    width: 1px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.appsSection::after {
    content: "";
    height: 100%;
    width: 100%;
    flex-shrink: 1;
}

.appInMainPage img {
    outline: 1px solid rgb(232, 232, 232);
    margin-bottom: 11px;
}

.appInMainPage h3{
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'segoeui';

}

.appInMainPage h4 {
    margin-top: 6px;
    margin-bottom: 0px;
    font-size: 16px;
    color: rgb(102, 102, 102);
    font-family: 'segoeui';
}

.storeContentHide {
    animation: storeContentHideAni 0.2s ease forwards;
}

@keyframes storeContentHideAni {
    100% {transform: translateX(100vw);}
}

.appPageShow {
    animation: appPageShowAni 0.2s ease forwards;
}

@keyframes appPageShowAni {
    0%    {transform: translateX(-100vw);}
    100%  {transform: translateX(0);}
}

.appPageHide {
    animation: appPageHideAni 0.2s ease forwards;
}

@keyframes appPageHideAni {
    0%    {transform: translateX(0);}
    100%  {transform: translateX(100vw);}
}

.storeContentShow {
    animation: storeContentShowAni 0.2s ease forwards;
}

@keyframes storeContentShowAni {
    0%   {transform: translateX(-100vw);}
    100% {transform: translateX(0px);}
}

.installBtn {
    background-color: rgb(0, 138, 0);
    color: white;
    padding-top: 4px;
    text-align: center;
    margin-left: 80px;
    margin-top: 40px;
    width: 97px;
    height: 32px;
}

.installBtn:hover {
    background-color: rgb(33, 153, 33 );
}

.installBtn:active {
    background-color: black;
}


.metrowindow_installprogressWin {
    height: 273px;
    width: 100vw;
    position: absolute;
    top: 50%;
    margin-top: -136px;
    background-color: rgb(31, 0, 104);
    z-index: 4;
}

.metrowindow_bg {
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.metrowindow_installprogressWin div {
    position: absolute;
    left: 50%;
    margin-left: -315px;
    width: 630px;
}

.tilescontainer {
    opacity: 0;
    position: absolute;
    top: 172px;
    left: 820px;
    margin-bottom: 92px;
    animation-name: tilescontainerani;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 17px; /* высота для горизонтального скролла */
    background-color: rgb(241, 241, 241);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: rgb(205, 205, 205);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(96, 96, 96);
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, rgb(241, 241, 241) 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, rgb(241, 241, 241) 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, rgb(241, 241, 241) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, rgb(241, 241, 241) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, rgb(241, 241, 241) 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, rgb(241, 241, 241) 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:url(scrollbar/h_l.png);
    width: 33px;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:url(scrollbar/h_r.png);
    width: 33px;
}

::-webkit-scrollbar-button:horizontal:start:decrement:active {
    background:url(scrollbar/h_l_a.png);
}

::-webkit-scrollbar-button:horizontal:end:increment:active {
    background:url(scrollbar/h_r_a.png);
}